* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #3295a0;
}

.form{
    background-color: #68c7d0;
    width: 50%;
    height: 70%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-top: 50px;
}

h1{
    background-color: white;
}

input, select{
    border-radius: 10px;
    height: 30px;
    border: none;
}

input[type="submit"]{
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 80px;
    height: 35px;
}

input[type="button"]{
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 80px;
    height: 35px;
}

input[type="submit"]:hover{
    background-color: black;
    color: white;
}

input[type="button"]:hover{
    background-color: black;
    color: white;
}

#busca{
    background-color:#68c7d0;
    border:solid 2px #fff;
    border-radius:10px;
    
}

#txtBusca{
    font-size:18px;
    border:none;
}